/* body{
    
width: 1600px;
height: 7335px;
} */
/* header section style */
.header{
    background-image: url("Banner\ Image.png");
    background-repeat: no-repeat;
    width: 1320px;
height: 600px;
border-radius: 16px;
border-radius: 16px;


/* flex-shrink: 0; */
}
.happy{
   position: relative;
   top:30%;
}
.new-year{
   
    color: #FFF;
text-align: center;
font-size: 32px;
font-weight: 400;
margin-top: 25px;


}
.new-year-title{

    color: #FFF;
text-align: center;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; 
margin-top: 20px;
margin-left: 344px;
margin-right: 344px;
margin-bottom: 177px;
}